/* Seitenlayout */
body {
    font-family:verdana,sans-serif;
    background:#AAAAAA;
    color:#111111;
    display: flex;
    flex-flow: column;
    align-items: center;
}
/* Layout für den Logger */
textarea {
  resize:vertical;
  width:98%;
  height:318px;
  padding:5px;
  overflow:auto;
  background:#1f1f1f;
  color:#65c115;
}
/* Layout für die Reiter/Tabs*/
.tab_active {
  float: left;
  width: 27%;
  background: #dddddd;
  padding: 5px;
  display: block;
  border: 2px solid black;
  height: 30px;
}
.tab_passive {
  float: left;
  width: 27%;
  background: #444444;
  padding: 5px;
  display: block;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  height: 18px;
  top: 10px;
  position: relative;

}
/* Label */
label {
 text-align:left;
}
/* CMD Line der Console */
.input {
  width:98%;
  padding:5px;
  background:#1f1f1f;
  color:#ffffff;
}
/* Eingabefeld Label und Eingabefeld ca. 50:50 aufgeteilt */
/* Label */
.input_50a {
  font-size:13px;
  width:47%;
  border:darkgray;
  background:#aaaaaa;
  color:#000000;
}
/* Eingabefeld */
.input_50b {
  font-size:13px;
  width:47%;
  padding:1px;
  background:#ffffff;
  color:#000000;
}
/* Eingabefeld Label und Eingabefeld ca. 70:30 aufgeteilt */
/* Label */
.input_70a {
  font-size:13px;
  width:70%;
  border:darkgray;
  background:#aaaaaa;
  color:#000000;
}
/* Eingabefeld */
.input_70b {
  font-size:13px;
  width:21%;
  padding:1px;
  background:#ffffff;
  color:#000000;
}
/* Eingabefeld Label und Eingabefeld ca. 30:70 aufgeteilt */
/* Label */
.input_30a {
  font-size:13px;
  width:30%;
  border:darkgray;
  background:#aaaaaa;
  color:#000000;
}
/* Eingabefeld */
.input_30b {
  font-size:13px;
  width:64%;
  padding:1px;
  background:#ffffff;
  color:#000000;
}
/* Header */
.input_header {
  font-size:15px;
  width:45%;
  border:darkgray;
  background:#aaaaaa;
  color:#000000;
}
/* Wrapper zur Breitenreduktion */
.wrapper {
  width: 340px;
}
/* Wrapper für den Header mit den Titelzeilen */
.div_header {
  width: 100%;
}
/* Titelzeile 1 */
.titel1 {
  font-size:20px;
  text-align:center;    
}
/* Titelzeile 2 */
.titel2 {
  font-size:15px;
  text-align:center;    
}
/* Content Wrapper */
.div_content {
  width: 100%;
}
/* Footer Wrapper */
.div_footer {
  width: 100%;
  text-align:right;
  font-size:11px;
}
/* Nachrichtenfelder oberhalb der SChalter */
.msg_div {
  width: 100%;
  font-size:18px;
  text-align: center;
}
/*
.help_button {
  border:2px solid black;
  width:300px;
  height:20px;
}

.help_label {
  height: 1.1rem;
  text-align: center;
  width: 100%;
}
*/
.ledmatrix_div {
/*  border:2;*/
  position: relative;  
  float: left;
}
.ledmatrix_line {
  height: 10px;
}
.ledmatrix_dot {
  position: relative;  
  width: 8px;
  height: 8px;
  background: grey;
  display: inline-block;
  border: 1px;
  border-style: solid;
  border-color: black;
}
/* Tabelle Feld zentriert */
.tab_center {
  text-align: center;
}
/* Tabelle linkes Feld */
.tab_left {
  text-align: right;
}
/* Tabelle rechtes Feld */
.tab_right {
  text-align: left;
}
/* Tabelle Kopf- bzw. Abschnittsüberschrift */
.tab_head {
  font-weight: bold;
  border-style: double;
  text-align: center;
}
/* Checkbox und Radio Buttons */
.checkbox {
  width: 10%;
}
/*
.display {
  margin: 10px;
} 
*/
/*Navigationsknöpfe mit den verschiedenen Farben */
.button {
/*  border:0;*/
  border-radius:3rem;
  line-height:2.4rem;
  font-size:1.2rem;
  width:100%;
  margin-top: 1rem;
  padding: unset;
}
.button_small {
/*  border:0;*/
  border-radius:3rem;
  line-height:2.4rem;
  font-size:1rem;
  width:50%;
  margin-top: 1rem;
  padding: unset;
}
.bg_rt {
  background:#A80329;
  color:#faffff;
}
.bg_gr {
  background:#444444;
  color:#faffff;
}
.bg_bk {
  background:#111111;
  color:#faffff;
}
.bg_yl {
  background:#FFFF08;
  color:#111111;
}
/* Schieberegler 
input[type="range"]{
    width: 95%;
    -webkit-appearance: none;
    -moz-apperance: none;
    height: 5px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, black),
        color-stop(0, gray)
    );
} */
/* Die Schalter */
.sw_button {
  border:2px solid black;
  border-radius:3rem;
  line-height:2.4rem;
  font-size:1.2rem;
  width:60px;
  height:60px;
  color: white;
  background-color:black;
}
/* Label für die Schalter */
.sw_label {
  height: 1.1rem;
  text-align: center;
  width: 100%;
}
/* Platzhalter für die Schalter */
.sw_div {
  padding-top: 2%;
  padding-bottom: 2%;
  float: left;
  text-align: center;
}

/* Message bei Upload */
.uploadmsg {
  text-align: center;
  color: #A80329;
  font-size: large;
  float: left;
  width: 80%;
  height: 100px;
}
.info {
  font-size: 3rem;
  float: left;
  width: 20%;
  padding-top: 5%;
  height: 100px;
}
.i_button {
  border:2px solid black;
  border-radius:3rem;
  line-height:2.4rem;
  font-size:3rem;
  width:60px;
  height:60px;
  color: black; 
  background-color: yellow;
}

.audio_sw_div {
  padding-top: 2%;
  padding-bottom: 2%;
  float: left;
  text-align: center;
  width: 33%;
}

.slidecontainer {
  width: 100%;
}

.slider {
/*  -webkit-appearance: none;*/
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #A80329;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #A80329;
  cursor: pointer;
}

.custom-select {
  min-width: 350px;
  position: relative;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

/* Menu amimated*/
.menu {
/*  display: inline-block; */
  cursor: pointer;
  float: left;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.menu_text {
  float: left;
  text-align: center;
  height: 20px;
  width: 80%;
  margin-top: 10px;
}